<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterResourceIcons</key>
	<dict>
		<key>PhotoFrame</key>
		<array>
			<string>PzlBorder2.png</string>
			<string>PzlBorder5.png</string>
			<string>PzlBorder9.png</string>
		</array>
		<key>PhotoFilter</key>
		<array>
			<string>filter_original.png</string>
			<string>filter_mx_0.png</string>
			<string>filter_mx_0.png</string>
			<string>filter_mx_1.png</string>
			<string>filter_mx_2.png</string>
			<string>filter_mx_3.png</string>
			<string>filter_mx_4.png</string>
		</array>
		<key>BackgroundPattern</key>
		<array>
			<string>pat000.jpg</string>
			<string>pat001.jpg</string>
			<string>pat002.jpg</string>
			<string>pat005.jpg</string>
			<string>pat007.jpg</string>
			<string>pat008.jpg</string>
			<string>pat009.jpg</string>
		</array>
		<key>Specials</key>
		<array>
			<string>filter_original.png</string>
			<string>special00.png</string>
			<string>special01.png</string>
			<string>special02.png</string>
			<string>special03.png</string>
			<string>special04.png</string>
			<string>special05.png</string>
		</array>
	</dict>
	<key>GalleryBooks</key>
	<array>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Beauty</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 1</string>
			<key>GalleryURI</key>
			<string>Beauty</string>
			<key>GalleryImageCount</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Fashion</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 2</string>
			<key>GalleryURI</key>
			<string>Fashion</string>
			<key>GalleryImageCount</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Personal</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 3</string>
			<key>GalleryURI</key>
			<string>Personal</string>
			<key>GalleryImageCount</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Portrait</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 4</string>
			<key>GalleryURI</key>
			<string>Portrait</string>
			<key>GalleryImageCount</key>
			<integer>18</integer>
		</dict>
	</array>
	<key>FilterResources</key>
	<dict>
		<key>PhotoFrame</key>
		<array>
			<string>/Filters/002.png</string>
			<string>/Filters/005.png</string>
			<string>/Filters/009.png</string>
		</array>
		<key>PhotoFilter</key>
		<array>
			<string>0</string>
			<string>0|/Filters/filter1.jpg|1.0|8|1.2|1.1</string>
			<string>0|/Filters/filter2.jpg|0.35|4|1.15|1.2</string>
			<string>0|/Filters/filter3.jpg|0.37|3|1.17|1.2</string>
			<string>0|/Filters/filter4.jpg|0.27|10|1.25|1.2</string>
			<string>0|/Filters/filter5.jpg|1.0|2|0.0|1.1</string>
			<string>0|/Filters/filter6.jpg|1.0|5|0.0|1.1</string>
		</array>
		<key>BackgroundPattern</key>
		<array>
			<string>/Filters/pat000.jpg</string>
			<string>/Filters/pat001.jpg</string>
			<string>/Filters/pat002.jpg</string>
			<string>/Filters/pat005.jpg</string>
			<string>/Filters/pat007.jpg</string>
			<string>/Filters/pat008.jpg</string>
			<string>/Filters/pat009.jpg</string>
		</array>
		<key>Specials</key>
		<array>
			<string>0</string>
			<string>/Filters/special_butterfly_a.png|1.0|1|{{0,0},{350,285}}|{{0,0},{350,285}}&amp;/Filters/special_butterfly_b.png|1.0|1|{{467,445},{174,145}}|{{650,334},{174,145}}</string>
			<string>/Filters/special_flower1_a.png|1.0|1|{{0,0},{415,215}}|{{0,0},{415,215}}&amp;/Filters/special_flower1_b.png|1.0|1|{{508,408},{133,340}}|{{691,278},{133,340}}</string>
			<string>/Filters/special_flower2_a.png|1.0|1|{{391,23},{250,725}}|{{574,0},{250,618}}&amp;/Filters/special_flower2_b.png|1.0|1|{{0,0},{175,355}}|{{0,0},{175,355}}</string>
			<string>/Filters/special_flower3_a.png|1.0|1|{{0,0},{285,378}}|{{0,0},{285,378}}&amp;/Filters/special_flower3_b.png|1.0|1|{{491,0},{150,320}}|{{674,0},{150,320}}</string>
			<string>/Filters/special_leaf_a.png|1.0|1|{{381,0},{260,618}}|{{564,0},{260,618}}</string>
			<string>/Filters/special_flower4_a.png|1.0|1|{{0,0},{265,450}}|{{0,0},{265,450}}&amp;/Filters/special_flower4_b.png|1.0|1|{{441,0},{200,500}}|{{624,0},{200,500}}</string>
		</array>
	</dict>
</dict>
</plist>
