<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterResourceIcons</key>
	<dict>
		<key>PhotoFrame</key>
		<array>
			<string>PzlBorder2.png</string>
			<string>PzlBorder5.png</string>
			<string>PzlBorder9.png</string>
		</array>
		<key>PhotoFilter</key>
		<array>
			<string>filter_mx_0.png</string>
			<string>filter_mx_1.png</string>
			<string>filter_mx_2.png</string>
			<string>filter_mx_3.png</string>
			<string>filter_mx_4.png</string>
		</array>
		<key>BackgroundPattern</key>
		<array>
			<string>pat000.jpg</string>
			<string>pat001.jpg</string>
			<string>pat002.jpg</string>
			<string>pat003.jpg</string>
			<string>pat004.jpg</string>
			<string>pat005.jpg</string>
			<string>pat006.jpg</string>
			<string>pat007.jpg</string>
			<string>pat008.jpg</string>
			<string>pat009.jpg</string>
		</array>
		<key>Specials</key>
		<array/>
	</dict>
	<key>GalleryBooks</key>
	<array>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Gallery 1</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 1</string>
			<key>GalleryImageNames</key>
			<array>
				<string>00.jpg</string>
				<string>01.jpg</string>
				<string>02.jpg</string>
				<string>03.jpg</string>
			</array>
			<key>GalleryURI</key>
			<string>Gallery0</string>
		</dict>
		<dict>
			<key>GalleryDesc_ENG</key>
			<string>Gallery 2</string>
			<key>GalleryDesc_CHN</key>
			<string>作品集 2</string>
			<key>GalleryImageNames</key>
			<array>
				<string>10.jpg</string>
				<string>11.jpg</string>
				<string>12.jpg</string>
				<string>13.jpg</string>
			</array>
			<key>GalleryURI</key>
			<string>Gallery1</string>
		</dict>
	</array>
	<key>FilterResources</key>
	<dict>
		<key>PhotoFrame</key>
		<array>
			<string>/Filters/002.png</string>
			<string>/Filters/005.png</string>
			<string>/Filters/009.png</string>
		</array>
		<key>PhotoFilter</key>
		<array>
			<string>/Filters/mtxx_lomo0.jpg</string>
			<string>/Filters/mtxx_lomo1.jpg</string>
			<string>/Filters/mtxx_lomo2.jpg</string>
			<string>/Filters/mtxx_lomo3.jpg</string>
			<string>/Filters/mtxx_lomo4.jpg</string>
			<string>0|/Filters/mtxx_lomo5.jpg|0.5|0</string>
		</array>
		<key>BackgroundPattern</key>
		<array>
			<string>/Filters/pat000.jpg</string>
			<string>/Filters/pat001.jpg</string>
			<string>/Filters/pat002.jpg</string>
			<string>/Filters/pat003.jpg</string>
			<string>/Filters/pat004.jpg</string>
			<string>/Filters/pat005.jpg</string>
			<string>/Filters/pat006.jpg</string>
			<string>/Filters/pat007.jpg</string>
			<string>/Filters/pat008.jpg</string>
			<string>/Filters/pat009.jpg</string>
		</array>
		<key>Specials</key>
		<array/>
	</dict>
</dict>
</plist>
